tr.border-gray-300
  - columns.each do |column|
    th.py-3-5.text-gray-900.px-3.text-sm.font-semibold.text-left.align-bottom class=column.header_class title=column.title = column.header || column.method.to_s.humanize.downcase
