<%= form_for [@post, Feedback::Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit class: "feedback--button" %>
  </div>
<% end %>
