h1.text-4xl.text-center.mt-4.mb-4 skautská kuchařka

div.text-center
    | tvůj pomocník při vaření pro hodně lidí.
    br
    span.italic
        | nebo i málo lidí.
    br
    | na táboře, kurzu, víkendovce nebo doma.
    br
    | pro skauty i neskauty


= heading("s čím ti pomůže?", class: "text-center mt-4 mb-4")
div#features.text-center
    div#meal-plan.grid.grid-cols-1.md:grid-cols-2.mt-3
        div
            = heading("poskládat si jídelníček", :h3)
            p
                | poskládej si jídelníček akce a měj kompletní přehled.
                br
                | exportuj si seznam receptů nebo plán na táborový den.
        div
            = image_tag "frontpage/event.png", class: "img-fluid"

    hr
        

    div#shopping-list.grid.grid-cols-1.md:grid-cols-2.mt-3
        div
            = heading("naplánovat nákup", :h3)
            p
                | vytvoření nákupního seznamu na jedno kliknutí? jasně!
        div
            = image_tag "frontpage/shopping_list.png", class: "img-fluid"

    hr

    div#recipes.grid.grid-cols-1.md:grid-cols-2.mt-3
        div
            = heading("mít zásobárnu receptů", :h3)
            p
                | měj po ruce svoje osvědčené recepty.
        div
            = image_tag "frontpage/my_recipes.png", class: "img-fluid"

    hr

    div#public-recipes.grid.grid-cols-1.md:grid-cols-2.mt-3.mb-20
        div
            = heading("nechat se inspirovat", :h3)
            p
                | nebo použij recepty ze 
                = link_to "společné databáze", published_recipes_path, style: "font-weight: 550;"
                | .
        div
            = image_tag "frontpage/public_recipes.png", class: "img-fluid"

	/ hr
    
/     <div class="mb-5">
/         <div class="row">
/             <div class="col-sm-12 col-md-6 text-center text-md-start">
/                 <a class="me-2" target="_blank" title="sledujte na facebooku" href="{{ url_for('SupportView:facebook_redirect') }}"> {{ icon("facebook", cursor_class="cursor-clicable") }} </a>
/                 <a class="color-black" href="https://github.com/janmpeterka/kucharka" target="_blank"> {{ icon("github", cursor_class="cursor-clickable") }} </a>
/             </div>            
/             <div class="col-sm-12 col-md-6 text-center text-md-end">
/                 <a class="small" href="{{ url_for('SupportView:terms') }}" > podmínky použití | </a>
/                 <a class="small" href="{{ url_for('SupportView:privacy') }}"> osobní data </a>
/             </div>            
/         </div>
/     </div>
/ </div>

/ <div>

/ </div>

footer.fixed.w-full.bottom-0.pb-3.pt-7.text-sm.ms-2.bg-gradient-to-b.from-transparent.via-white.to-white
    div.pt-2 
        | s 💚 vyrobil 
        = link_to "Obr ", "https://jpeterka.cz", target: "_blank", class: "text-emerald-900"
        | pro 
        = link_to "Fons Beníšky", "https://fons.skauting.cz", target: "_blank", class: "text-emerald-900"