<% if current_user.admin? %>
    <div>
        <%= link_to("admin", admin_posts_path) %>
    </div>
<% end %>

<%= t("My feedback") %> :


<% @posts.each do |post| %>
    <%= render "post", post: %>
<% end %>

<%= link_to(t("Back"), feedback_path) %>
