<%= render @post %>

<br>

<h2> Comments </h2>

<% @post.comments.each do |comment| %>
    <%= render "feedback/comments/comment", comment: %>
<% end %>

<br>

<%= render "feedback/comments/form", post: @post %>

<br>

Back to <%== link_to("feedbacks", posts_path) %>
