/* Application styles */

body {
  background-color: #F8ECE5;
}

.highlight {
  background-color: darkgreen;
}
.strong-highlight {
  background-color: darkgreen;
}

.card-shadow:hover {
  box-shadow: 0 0.15rem 0 0px rgba(0, 0, 0, 0.25);
}