# This workflow uses actions that are not certified by GitHub.  They are
# provided by a third-party and are governed by separate terms of service,
# privacy policy, and support documentation.
#
# This workflow will install a prebuilt Ruby version, install dependencies, and
# run tests and linters.
name: "CI"
on:
  pull_request:
    branches: ['*']
  push:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      db:
        image: mysql:8.1
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: kucharka_test
          MYSQL_USER: kucharka
          MYSQL_PASSWORD: kucharka
          MYSQL_ROOT_PASSWORD: kucharka
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    env:
      RAILS_ENV: test
      DATABASE_URL: "mysql2://kucharka:kucharka@127.0.0.1:3306/kucharka_test"
      RAILS_MAX_THREADS: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1 # v1.146.0
        with:
          bundler-cache: true
      # Add or replace database setup steps here
      - name: Set up database schema
        run: bin/rails db:drop db:setup db:schema:load
      # Add or replace test runners here
      - name: Run model tests
        run: bin/rails test test/models
      - name: Prepare assets
        run: bin/rails assets:precompile
      - name: Run controller tests selectively
        run: bin/rails test test/system/events_test test/controllers/published_recipes_controller_test
      - name: Keep screenshots from failed system tests
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: screenshots
          path: ${{ github.workspace }}/tmp/screenshots
          if-no-files-found: ignore

  security:
    runs-on: ubuntu-latest
    steps: # This was corrected to address https://github.com/actions/starter-workflows/issues/2159
      - name: Checkout code
        uses: actions/checkout@v4
      # Add or replace dependency steps here
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1 # v1.146.0
        with:
          bundler-cache: true
      - name: Formatting and Security Checks
        run: |
          bundle exec brakeman -z
          bundle exec bundle-audit update
          bundle exec bundle-audit
